02-Interfaces/InterfacesAndAbstractClasses/bin/Debug/InheritanceInterfacesAndDelegates.exe
02-Interfaces/InterfacesAndAbstractClasses/obj/Debug/InheritanceInterfacesAndDelegates.exe
*.pdb
02-Interfaces/InterfacesAndAbstractClasses/obj/Debug/InterfacesAndAbstractClasses.csprojResolveAssemblyReference.cache
*.suo
*.cache