02-Interfaces/InterfacesAndAbstractClasses/bin/Debug/InheritanceInterfacesAndDelegates.exe
02-Interfaces/InterfacesAndAbstractClasses/obj/Debug/InheritanceInterfacesAndDelegates.exe
*.pdb
02-Interfaces/InterfacesAndAbstractClasses/obj/Debug/InterfacesAndAbstractClasses.csprojResolveAssemblyReference.cache
*.suo
*.cache
*.exe
04-Facade/FacadePattern/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
04-Facade/FacadePattern/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs